<p>Your url for your project is: <%= project_url(@project) %> share it with others to contribute</p>

<p>Now you need to choose your columns from your data</p>

<button class="ink-button">Start adding photos</button>