<div class="projects">

  <h2><%= @project.name %></h2>
  <p>
    <%= link_to 'back to project page', project_path(@project) %>
  </p>
  <div class="row">



    <div class="project-items all">
      <%= render 'list', project: @project, items: @items %>
    </div>

    <div class="project-preview col-md-4">

      <img id="preview"  src="" alt="" />

      <div id="map"></div>

      <div id="image"></div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h4> Licence </h4>
      <select>
        <option>CC-BY 3.0</option>
      </select>
      <br />
      <small>Choose a photo license</small>

      <div class="alert alert-danger" title="TODO">
        Put this in the previous screen?
      </div>
    </div>


    <div class="col-md-2 col-md-offset-1">
      <h4> Download </h4>
      <a class="btn btn-primary">
        <i class="icon-zip" />
        .zip
      </a>
      <br />
      <small>Contains shape files, links to images, etc</small>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <h4> Share </h4>
      <a class="btn btn-primary">
        Generate link
      </a>
      <br />
      <small>Share this project with your crowd</small>
    </div>

  </div>
</div>
