<script type='text/javascript'>
function getGeoLocation() {
  navigator.geolocation.getCurrentPosition(setGeoCookie);
}

function setGeoCookie(position) {
  var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
  document.cookie = "lat_lng=" + escape(cookie_val);
  document.location = '<%= link_to near_me_project_items_path(@project) %>'
}
</script>
<%- unless @lat %>
<script>
  getGeoLocation();
</script>
<%- end %>

<% if @items %>
  <div class="projects">
    <div class="row">
      <div class="project-items col-md-8" style="overflow-y: scroll; max-height: 400px">
        <%= render 'list', project: @project, items: @items %>
      </div>

      <div class="project-preview col-md-4">

        <img id="preview"  src="" alt="" />
      
        <div id="map"></div>

      </div>
    </div>
  </div>
<% end %>
