<div class="projects">
  <div class="row">
    <div class="project-items col-md-8" style="overflow-y: scroll; max-height: 400px">
      <%= render 'list', project: @project, items: @items, current_item: @item %>
    </div>

    <div class="project-preview col-md-4">
    
      <div id="map" />

      <div class="fotorama" data-width="600" data-height="400">
        <% @item.photos.each do |photo| %>
          <% if photo.is_video? %>
            <%= link_to 'video', photo.video_url %>
          <% else %>
            <%= image_tag photo.image.url(:large) %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h4> Licence </h4>
      <select>
        <option>CC-BY 3.0</option>
      </select>
      <br />
      <small>Choose a photo license</small>

      <div class="alert alert-danger" title="TODO">
        Put this in the previous screen?
      </div>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <h4> Download </h4>
      <a class="btn btn-primary">
        <i class="icon-zip" />
        .zip
      </a>
      <br />
      <small>Contains shape files, links to images, etc</small>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <h4> Share </h4>
      <a class="btn btn-primary">
        Generate link
      </a>
      <br />
      <small>Share this project with your crowd</small>
    </div>    

  </div>
</div>
