/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * = require leaflet
 * = require fotorama
 * = require jquery.dynatable
 */
/*@import "bootstrap-sprockets";
@import "bootstrap";*/
@import "ink";
@import "ink-flex";
@import "font-awesome";

@import "welcome";
@import "projects";

.highlight {
padding: 1em;
background: #eeebe5;
margin-bottom: 1.5em;
-webkit-border-radius: 2px;
border-radius: 2px;
}


.ink-table thead tr {
  background: #000;
}
