<!DOCTYPE html>
<html>
<head>
  <title>Shaprgram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills">
  <li><a href="/">Home</a></li>
  <li><a href="#">Help</a></li>
</ul>

<%= yield %>

</body>
</html>
