<!DOCTYPE html>
<html>
<head>
  <title>Shaprgram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ink-grid">
  <div class="column-group push-center">
    <div class="all-90">
      <div class="logo"><img src="/assets/logo.png" height="60" data-no-retina /></div>
      <nav class="ink-navigation">
      <ul class="menu horizontal black">
        <li><a href="/">Home</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="/projects">Public Projects</a></li>
      </ul>
      </nav>
      <br>

      <%= yield %>

    </div>
  </div>
</div>
</body>
</html>